<div class="p-1 px-2 border rounded">
  <p class="text-sm font-semibold leading-6 text-gray-900"><%= comment.content %></p>
  <p class="text-xs text-gray-500"><%= comment.updated_by.email %> | <%= time_ago_in_words(comment.created_at) %> ago</p>
</div>
