<div class="p-1 px-2 border rounded">
  <%= simple_format(comment.content, class: "text-sm font-semibold text-gray-900") %>
  <p class="text-xs text-gray-500"><%= comment.updated_by.email %> | <%= time_ago_in_words(comment.created_at) %> ago</p>
</div>
