<h1 class="text-xl font-semibold leading-7 text-gray-900">Projects</h1>
<%= link_to "Back to home", root_path, class: "mt-1 text-xs text-gray-900 underline" %>

<div class="mt-2">
  <%= link_to new_project_path do %>
    <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
      <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
      </svg>
      Create
    </button>
  <% end %>
</div>

<ul role="list" class="mt-10 divide-y divide-gray-100">
  <% @projects.each do |project| %>
    <li class="py-2 text-gray-900 underline hover:text-gray-600">
      <%= link_to project.name, project_path(project.id) %>
    </li>
  <% end %>
</ul>
