<div>
  <div class="px-4 sm:px-0">
    <h1 class="text-xl font-semibold leading-7 text-gray-900"><%= @project.name %></h1>
    <p class="mt-1 max-w-2xl leading-6 text-gray-900"><%= t(@project.status) %></p>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= @project.description %></p>
  </div>
</div>
